<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatosDs.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-45F06AD\Alfredo;Initial Catalog=Northwind;User ID=admin;Password=admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>