<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatosDs.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-41IUBS2\SQLEXPRESS;Initial Catalog=NORTHWND;User ID=sa;Password=genexus"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>