<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings><add name="AccesoDatosEF.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=DESKTOP-C248MND;Initial Catalog=Northwind;User ID=sa;Password=sa123" providerName="System.Data.SqlClient" />
  <add name="NorthwindEntities" connectionString="metadata=res://*/ModelNorthWind.csdl|res://*/ModelNorthWind.ssdl|res://*/ModelNorthWind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C248MND;initial catalog=Northwind;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>